<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dein Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-icon style="zoom:10.0;" name="person-circle-outline"></ion-icon>
      <ion-label style="zoom:2.5;">{{ name }}</ion-label>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label text-center>Email Adresse ändern:</ion-label>
        <ion-input [(ngModel)]="email" placeholder="Deine Email"></ion-input>
        <ion-label>Passwort ändern:</ion-label>
        <ion-input [(ngModel)]="passwort" placeholder="*********"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label color="success" style="zoom:1.5;">Match Settings</ion-label>
        <ion-item>
          <ion-label>Du suchst nach:</ion-label>
          <ion-select name="prefered_gender" placeholder="Auswählen" okText="Okay" cancelText="Abbrechen">
            <ion-select-option value="f">Frauen</ion-select-option>
            <ion-select-option value="m">Männer</ion-select-option>
          </ion-select>
        </ion-item>
          <!-- Slider für Alter -->
          <ion-label>Alter:</ion-label>
          <ion-item>
            <ion-label>18</ion-label>
            <ion-range dualKnobs="true" min="18" max="99" step="1" snaps="true"></ion-range>
            <ion-label>99</ion-label>
          </ion-item>
        <ion-button expand="block" fill="outline" (click)="ClickSave()">Speichern</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" fill="outline" (click)="GoToLogin()">GotoLogin</ion-button>

</ion-content>
